h2 {
    font-size: 5.2rem;
    margin-bottom: 2rem;
    color: #002366;
}
h3 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
}


/* 섹션01 home  */
.section01_inner {

}
.section01_inner .home_img {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.section01_inner .home_img img{
    display: block;
    filter: brightness(30%); 
}
.section01_inner .home_img h2 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: white;
    text-transform: uppercase;
}

.section01_inner {
    height: 100%;
}

/* 섹션02 about me  */
.section02_inner .profile_img {
    width: 36rem;
    height: 48rem;
}
.section02_inner .profile_wrap {
    display: flex;
    align-items: center;
    gap: 14rem;
}
.section02_inner .profile_wrap .profile_text p{
    font-size: 2rem;
    line-height: 2;
}

/* 섹션03 skill  */
.section03 .skill_img_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.break {
    flex-basis: 100%; /* 줄바꿈 역할 */
    height: 0; /* 불필요한 높이를 제거 */
}
.section03 .tool_img {
    width: 8.5rem;
}

/* 섹션04 portfolio  */
.tab_btn {
    position: relative;
    width: 65vw;
}

.tab_btn a.more {
    position: absolute;
    right: 0;
    top: 1.3rem;
    font-size: 1.4rem;
}
.tab_btn a {
    display: block;
    color: var(--grayscale-400);
    padding: 1rem 2rem;
    
}
.tab_btn ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    gap: 2rem;
}

.tab_btn ul li {
    text-align: center;
    box-sizing: border-box;
    margin-left: -1px;
    transition: all 0.5s;
    font-size: 2.4rem;
}

.tab_cont {
    margin-top: 5rem;
}


.tab_btn ul li.active {
    background-color: #6BD4FF;
    border-radius: 0.8rem;
}

.tab_div {
    display: flex;
    gap: 30rem;
}
.tab_cont .content_wrap h3 {
    margin-bottom: 0;
}
.tab_cont .content_wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
    line-height: 1.5;
}
.tab_cont .button_wrap {
    display: flex;
    gap: 1rem;
}
.tab_cont .button_wrap a{
    margin-top: 8rem;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 0.8rem;
}
.tab_cont .pc_mockup_img {
    width: 48rem;
    height: 38.4rem;
}
.tab_cont .mobile_wrap {
    display: flex;
    gap: 1rem;
}
.tab_cont .mobile_mockup_img {
    width: 18.3rem;
    height: 36.4rem;
}

/* 섹션05 design */
.section05 {

    padding-bottom: 2rem;
}
.design_box_wrap {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
.design_box {
    width: 32%;
    
}
.design_boxs {
    width: 32%;
    height: 32%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.design_box_img {
    border: 1px solid #ccc;
}
.img04 {
    height: 92rem;
    overflow: hidden;
}
.img05 {
    height: 80rem;
    overflow: hidden;
}

/* 섹션06 contact */
.section06 .text_area {
    margin-top: 4rem;
}
.section06 .text_area p{
    font-size: 2.4rem;
    text-align: center;
}